<!DOCTYPE html>
<html>
<head>
  <title>Assignment 10</title>
  <link href="main.css" rel="stylesheet" type="text/css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css" rel="stylesheet" type="text/css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
</head>
<body>
</body>
  <header>
    <div class="header-container">
      <a href="">
        <span class="mega-octicon octicon-mark-github octocat"></span>
      </a>
      <input class="searchbar-1" type="text" placeholder="Search GitHub" name="search">
      <nav class="explore-nav">
        <ul>
          <li><a href="">Explore</a></li>
          <li><a href="">Gist</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Help</a></li>
        </ul>
      </nav>
      <div class="top-right-nav">
        <nav>
          <ul>
            <li>
              <a href="">
                <img src="https://avatars0.githubusercontent.com/u/2738288?v=2&s=460">
                <span class="login-name">jhath16<!-- jhath.login --></span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="octicon octicon-plus"></span>
                <span class="octicon octicon-triangle-down triangle-down"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="octicon octicon-inbox"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="octicon octicon-gear"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="octicon octicon-sign-out"></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="left">
    </div>
    <script id="sidebar" type="text/template">
      <a href="https://github.com/settings/profile"><img src="<%= avatar_url %>"></a>
      <h1><%= name %></h1>
      <h2><%=  login %></h2>
      <div class="info sidebar-div">
        <span class="octicon octicon-mail"></span>
        <a href="<%= email %>">
          <%= email %>
        </a>
        <br>
        <span class="octicon octicon-clock"></span>
        <span>Joined on <%= moment(created_at).format('ll') %></span><!-- "Joined on" + jhath16.created_at (moment.js) -->
      </div>
      <div class="follow sidebar-div">
        <ul>
          <a href="<%= html_url %>/followers"><li><span><%= followers %></span><p>Followers</p></li></a>
          <a href=""><li><span>0</span><p>Starred</p></li></a>
          <a href="<%= html_url %>/following"><li><span><%= following%></span><p>Following</p></li></a>
        </ul>
      </div>
      <div class="organizations sidebar-div">
        <h3>Organizations</h3>
        <!-- Append div and link for TIY here -->
            <!--For every organization, generate this-->
        <div class="org-link">
          <a href="<%= html_url %>"><img src="https://avatars.githubusercontent.com/u/8293064?v=2"></a>
        </div>
            <!--For every organization, generate this-->
      </div>
    </script>
    <div class="right">
      <div class="tabs">
        <a href=""><span class="octicon octicon-diff-added"></span>Contributions</a>
        <a href=""><span class="octicon octicon-repo"></span>Repositories</a>
        <a href=""><span class="octicon octicon-rss"></span>Public activity</a>
        <a href="">
          <div class="edit-button">
            <span class="octicon octicon-pencil"></span>Edit profile
          </div>
        <a>
      </div>
      <div class="search">
        <input class="searchbox-2" type="text" placeholder="Find a repository...">
        <a href="">
          <div class="search-button">Search</div>
        </a>
        <nav>
          <ul>
            <li><a href="">All</a></li>
            <li><a href="">Public</a></li>
            <li><a href="">Private</a></li>
            <li><a href="">Sources</a></li>
            <li><a href="">Forks</a></li>
            <li><a href="">Mirrors</a></li>
          </ul>
        </nav>
        <a href="">
          <div class="new-repo-button">
            <span class="octicon octicon-repo"></span>New
          </div>
        </a>
      </div>
      <div class="repositories"> <!-- Append all repositories here -->
          <div class="repo">
            <div class="left-repo">
              <a href=""><h4>Assignment_10</h4></a>
              <p>Updated 3 hours ago</p>
            </div>
            <div class="right-repo">
              <span class="code-type">JavaScript</span>
              <a class="side-buttons" href=""><span><span class="octicon octicon-star"></span>0</span></a>
              <a class="side-buttons" href=""><span><span class="octicon octicon-git-branch"></span>0</span></a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <span>&copy; 2014 GitHub, Inc.</span>
    <nav class="left-footer">
      <ul>
        <li><a href="">Terms</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Security</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>
    <a href="http://www.github.com"><span class="octicon octicon-mark-github"></span></a>
    <nav class="right footer">
      <ul>
        <li><a href="">Status</a></li>
        <li><a href="">API</a></li>
        <li><a href="">Training</a></li>
        <li><a href="">Shop</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">About</a></li>
      </ul>
    </nav>
  </div>
  <script src="main.js"></script>
</html>
